form{
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.submm{
    position: relative;
margin-top: 48px;
    left: 40%;
    
}
.rst{
    position: relative;
   left: 48%;
   margin-top: 48px;

}