label{
    display: inline;  
 text-align: left;
 margin-left: 35%;
}
.field{
padding-top: 2px;
}

input{
    float:right;   
    margin-right: 35%;
    width: 30%;
 
}
.help{
    position: relative;
   left: 70%;
  
}